.container, .containerBox {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #72db72, #d4e0d4);
}
.containerBox {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.img {
    height: auto;
    width: 80%;
    margin: 0 auto;
}
.buttonPhoto {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}
.photoButton {
    width: 30vw;
    height: 50px;
    margin: 20px auto;
    border: 5px double #ffffff;
    border-radius: calc(20vw/2);
    background: inherit;
    font-size: 24px;
    color: #266926;
}
.photoButton:focus {
    outline: none;
}
.photoButton a:-webkit-any-link {
    color: #266926;
    text-decoration: none;
}
.noMorePhoto {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

@media only screen and (max-width: 768px ) {
    .photoButton {
        font-size: 16px;
    }
    .sendButton {
        font-size: 24px;
    }
}

@media only screen and (max-width: 414px) {
    .photoButton {
        font-size: 12px;
    }
    .sendButton {
        font-size: 16px;
        height: 50px;
    }
}
