.container {
    max-width: 100%;
    min-height: 60vh;
    background: linear-gradient(to right, #d4e0d4, #72db72);
}
.containerForm {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #030c06;
}
.containerRating {
    max-width: 100%;
    min-height: 18vh;
    font-size: 36px;
    color: #026926;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #72db72, #d4e0d4);
}
.rating:focus {
    outline: none;
}
.imgCamera {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin: 20px 20px 20px 0;
}
.imgCamera:focus {
    outline: none;
}
.labelBox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.inputBox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
.feedbeakText:focus {
    outline: none;
}
.feedbeakText {
    width: 60%;

    height: 80px;
    border: none;
    font-size: 24px;
    color: #030c06;
    border-bottom: 2px solid #021a02;
    background: inherit;
}
.feedbeakText::-webkit-input-placeholder {
    text-align: center;
    padding-top: 6%;
    color: #1a501a;
    font-size: 36px;
    text-transform: uppercase;
}
.sendButton {
    width: 30vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 5px double #ffffff;
    border-radius: calc(20vw/2);
    background: inherit;
    font-size: 36px;
    color: #266926;
}
.sendButton:focus {
    outline: none;
}
.sendButton a:-webkit-any-link {
    color: #266926;
    text-decoration: none;
}
.textShow {
    width: 80%;
    text-align: center;
    font-size: 12px;
    margin: 10px auto 0;
}
.imgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.imageItem {
    max-width: 25%;
    height: 15vh;
    border: 1px solid #026926;
}
.imageBox {
    width: 100%;
    height: 15vh;
}
.deleteImg {
    background-color: white;
    text-align: center;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .containerForm {
        font-size: 18px;
    }
    .imgCamera {
        width: 70px;
        height: 70px;
    }
    .feedbeakText {
        font-size: 18px;
    }
    .feedbeakText::-webkit-input-placeholder {
        font-size: 24px;
    }
    .sendButton {
        font-size: 24px;
        height: 50px;
        margin-top: 50px;
    }
    .containerRating {
        font-size: 24px;
    }
    .textShow, .noShow {
        font-size: 8px;
    }
}


@media only screen and (max-width: 414px) {
    .containerForm {
        font-size: 12px;
    }
    .containerRating {
        font-size: 16px;
    }
    .inputBox {
        width: 15px;
        height: 15px;
    }
    .imgCamera {
        width: 50px;
        height: 50px;
    }
    .feedbeakText {
        font-size: 12px;
        height: 40px;
    }
    .feedbeakText::-webkit-input-placeholder {
        font-size: 16px;
    }
    .sendButton {
        font-size: 16px;
        height: 50px;
        margin-top: 20px;
    }
}